<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% if title %}
    <title>Find Project Group -{{ title }}</title>
    {% else %}
    <title>Find Project Group </title>
    {% endif %}

    <style>
        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        /* Style the side navigation */
        
        .content {
            margin-left: 200px;
            padding-left: 20px;
            margin-top: 20px;
        }
        
        #row1 {
            width: 600px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="contianer">
        <div class="row">
            <div class="col-7 bg-transparent">
                <h1>เอาไว้ใส่รูปโลโก้ไรงี้</h1>
            </div>
            <div class="col-5 bg-info">
                <div class="container">

                    <div class="row" id="row1">
                        <h1>Login to Group Project</h1>
                        <br/><br/> {% if error %}
                        <p class="text-danger">{{error}}</p>
                        {% endif %}
                        <form method="POST" action="{% url 'find_project_login' %}">
                            {% csrf_token %}
                            </br>
                            <div class="form-group">



                                <label for="username">Username:</label>
                                <input type="username" class="form-control ml-3" id="username" name="username" value="{{username}}">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control ml-3" id="password" name="password" value="{{password}}">
                            </div>
                            </br>
                            <button type="submit" class="btn btn-primary ml-3">Login</button>
                        </form>
                    </div>
                    <div class="row">
                        <h1>Register Group Project</h1>


                        <!-- Submit to user_add view -->
                        <form method="POST" action="{% url 'find_project_signin' %}">

                            {% csrf_token %} {% if msge %}
                            <p class="text-success">{{msge}}</p>{% endif %}


                            <div class="form-group ">
                                <label for="section"></label>Username:</label>
                                <input type="text" class="form-control" name="username" id="username" required>
                            </div>

                            <div class="form-group ">
                                <label for="text">Password:</label>
                                <input type="text" class="form-control" name="password" id="password" required>
                            </div>


                            <div class="form-group">
                                <label for="section">Firstname:</label>
                                <input type="text" class="form-control" name="first_name" id="first_name" required>
                            </div>

                            <div class="form-group ">
                                <label for="section">Lastname:</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" required>
                            </div>


                            <div class="form-group ">
                                <label for="section">Year:</label>
                                <input type="text" class="form-control" name="year" id="year" required>
                            </div>


                            <div class="form-group ">
                                <label for="section">Major:</label>
                                <input type="text" class="form-control" name="major" id="major" required>
                            </div>



                            <div class="form-group ">
                                <label for="section">Contect:</label>
                                <input type="text" class="form-control" name="contect" id="contect" required>
                            </div>



                            <button type="reset" class="btn btn-warning ml-3">Reset Form</button>
                            <button type="submit" class="btn btn-primary ml-3">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>