{% extends 'base.html' %} {% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-6" style="background-color:palevioletred;">
            <h1>Profile</h1>

            <br/>

            <!-- Submit to user_add view -->
            {% if user.id %}
            <form method="POST" action="{% url 'find_project_user_update' user_id=user.id %}">

                {% else %}
                <!-- Submit to student_add view -->
                <form method="POST" action="{% url 'find_project_user_profile' %}">
                    {% endif %} {% csrf_token %} {% if msge %}
                    <p class="text-success">{{msge}}</p>{% endif %}
                    <div class="form-row">

                        <div class="form-group col-6">
                            <label for="section">Username:</label>
                            <input type="text" class="form-control" name="username" id="username" value="{{user.username}}" required>
                        </div>

                        <div class="form-group col-6">
                            <label for="section">Firstname:</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" value="{{user.first_name}}" required>
                        </div>
                        <div class="form-group col-6">
                            <label for="section">Lastname:</label>
                            <input type="text" class="form-control" name="last_name" id="last_name" value="{{user.last_name}}" required>
                        </div>

                        <div class="form-group col-6">
                            <label for="section">Year:</label>
                            <input type="text" class="form-control" name="year" id="year" value="{{user.student.year}}" required>
                        </div>
                        <div class="form-group col-6">
                            <label for="section">Major:</label>
                            <input type="text" class="form-control" name="major" id="year" value="{{user.student.major}}" required>
                        </div>
                        <div class="form-group col-6">
                            <label for="section">Contect:</label>
                            <input type="text" class="form-control" name="contect" id="year" value="{{user.student.contect}}" required>
                        </div>
                    </div>
                    <button type="reset" class="btn btn-warning ml-3">Reset Form</button>
                    <button type="submit" class="btn btn-primary ml-3">Update</button>
                </form>
        </div>

    </div>
</div>






{% endblock %}