{% extends 'base.html' %} 

{% block content %} 
{% load static %}


<div class="container emp-profile">
     <h1>Create Group</h1>
  <form method="POST" action="{% url 'add_group' course_id=course.id project_id=project.id %}">
        {% csrf_token %}
       
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-6">
             <div class="form-row">
                <div class="form-group col-4">
                    <label for="section">Group name</label>
               
                    <input type="text" class="form-control" name="name" id="name"  required>
                </div>
                <div class="form-group col-6">
                    <label for="section">Project topic:</label>
                    <input type="text" class="form-control" name="desc" id="desc" required>
                </div>
             </div>
              {% if error %}
                <p class = "text-danger">{{error}}</p>
              {% endif %}
            <button type="reset" class="btn btn-danger ml-3">Reset Form</button>
            <button type="submit" class="btn btn-info ml-3">Submit</button>
            </div>

        </div>
    </form>

</div>

{% endblock %}