{% extends 'base.html' %} 

{% block content %} 
{% load static %}

<style>
    body {
        background: -webkit-linear-gradient(left, #D96767, #214785, #EAC9B8);
    }
    
    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }
    
    .profile-img {
        text-align: center;
    }
    
    .profile-img img {
        width: 70%;
        height: 100%;
    }
    
    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }
    
    .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
    }
    
    .profile-head h5 {
        color: #333;
    }
    
    .profile-head h6 {
        color: #0062cc;
    }
    
    .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }
    
    .proile-rating {
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }
    
    .proile-rating span {
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }
    
    .profile-head .nav-tabs {
        margin-bottom: 5%;
    }
    
    .profile-head .nav-tabs .nav-link {
        font-weight: 600;
        border: none;
    }
    
    .profile-head .nav-tabs .nav-link.active {
        border: none;
        border-bottom: 2px solid #0062cc;
    }
    
    .profile-work {
        padding: 14%;
        margin-top: -15%;
    }
    
    .profile-work p {
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
    }
    
    .profile-work a {
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }
    
    .profile-work ul {
        list-style: none;
    }
    
    .profile-tab label {
        font-weight: 600;
    }
    
    .profile-tab p {
        font-weight: 600;
        color: #0062cc;
    }
</style>
<div class="container emp-profile">
<a href="{% url 'add_group' course_id=course.id project_id=project.id %}" class="btn btn-warning float-right">Create Group</a>
<h1> Gruop {{course.name}} : {{project.name}}</h1>
</br>
<form class="form-inline" method="GET" action="{% url 'view_group' course_id=course.id project_id=project.id%}">
        <div class="form-group">
            <label for="search">ค้นหา:</label>
            <input type="text" class="form-control ml-3" id="search" 
                 name="search" placeholder="ชื่อกลุ่ม" value="{{search}}">
        </div>
        <button type="submit" class="btn btn-primary ml-3 ">ค้นหา</button>
</form>
</br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ชื่อกลุ่ม</th>
      <th scope="col">คำอธิบายกลุ่ม</th>
      <th scope="col">จำนวน</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{group.group.name}}</td>
      <td>{{group.group.project_topic}}</td>
      <td>
      {% if group.num_member >=  project.mex_member%}
        <div class="text-danger"><b>เต็ม</b></div>
        {% elif  group.num_member >  project.min_member %}
            <div class="text-success"><b>{{group.num_member}} / {{project.mex_member}}</b></div>
        {% else %}
            <div>{{group.num_member}} / {{project.mex_member}}</div>
       
      {% endif %}
      
      </td>
      <td><a href="{% url 'view_member' course_id=course.id project_id=project.id group_id=group.group.id %}" class="btn btn-outline-warning" role="button">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}