{% extends 'base.html' %} 

{% block content %} 
{% load static %}
<body onload = 'initialize ()'>

<div class="container emp-profile" >
{% if user.id == creater.student.user.id %}
<a href="{% url 'delete_group' course_id=course.id project_id=project.id group_id=group.id%}" class="btn btn-danger float-right">Delete Group</a>
{% endif %}
<h1>Gruop {{course.name}} : {{project.name}}</h1>
</br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" colspan = '5'>Group : {{group.name}}</th>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ชื่อ</th>
      <th scope="col">นามสกุล</th>
      <th scope="col">แขนง</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id ='t-body'>
    
  </tbody>
</table>
  <b><p id = 'delete_error'class = "text-danger">{{error}}</p><b>

{% if user.id == creater.student.user.id %}
<button id ="open-button" class="btn btn-success" >Join Member</button>

<div class="form-popup" id="myForm">

 
    
    <div class='form-container'>
    {% csrf_token %}
    <h3>Add Someone</h3>

    <label for="email"><b>username :</b></label>
    <input id = 'user' type="text" class= 'form-control' placeholder="Enter username" name="username" required>
    </br>
    <b><p id = 'add_error'class = "text-danger"></p><b>
    <button onclick='addMember ()' type="submit" class="btn btn-success">Add</button>
    </div>
</div>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

let button = document.getElementById("open-button");
button.addEventListener("click", openForm);

function openForm() {
  document.getElementById("myForm").style.display = "block";
  button.removeEventListener("click", openForm);
  button.innerHTML = 'Close';
  button.style.background = 'red';
  button.addEventListener("click", closeForm);
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
  button.removeEventListener("click", closeForm);
  button.innerHTML = 'Join Member';
  button.style.background = 'green';
  button.addEventListener("click", openForm);
}
</script>

<script>
  let course_id = '{{course.id}}'
  let project_id = '{{project.id}}'
  let group_id = '{{group.id}}'
  let creater = '{{creater.student.id}}'
  let creater_user = '{{creater.student.user.id}}'
  let current_user = '{{user.id}}'

  console.log(creater_user)
  console.log(current_user)
 
        // const axios = require('axios');
  var items = []

  axios.defaults.xsrfCookieName = 'csrftoken'
  axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'
  
  let num = 1
  function initialize () {
    axios.get("/view_group/load/"+ group_id +"/")
    .then(function (response) {
      // handle success
      items = response.data
      items.forEach((item) => {
        let name = item.student_detail.user.first_name
        let surname = item.student_detail.user.last_name
        let major = item.student_detail.major
        let student = item.student_detail

        let tr = createMember(student, num, name, surname, major)
        let tbody = document.querySelector('#t-body')
        tbody.appendChild(tr)
        num++
      })
      console.log(response);
    })
    .catch(function (error) {
      console.log(error);
    })
    .then(function () {
      // always executed
    });
  }

  function addMember () {
    let textInput = document.querySelector('#user')
    let text = textInput.value
    let textadd = document.querySelector('#add_error')
    let textbox = document.querySelector('#delete_error')
            // Send AJAX resuest to create in the DB
    axios.post("/view_group/load/"+ group_id +"/", {
      user: text,
      group: group_id,
      project: project_id,
    })
    .then(function (response) {
      // handle success
      console.log('hello')
      
      item = response.data

        
        let name = item.student_detail.user.first_name
        let surname = item.student_detail.user.last_name
        let major = item.student_detail.major
        let student = item.student_detail

        let tr = createMember(student, num, name, surname, major)
        let tbody = document.querySelector('#t-body')
        tbody.appendChild(tr)
        textInput.value= ''
        textadd.innerText = ''
        textbox.innerText = ''
        num++
      console.log(response);
    })
    .catch(function (error) {
      console.log(error);
      textadd.innerText = error.response.data.error
    })
    .then(function () {
      // always executed
    });
  }

  function deleteMember(event) {
    let button = event.currentTarget
    let userid = button.getAttribute('student_id')
    let textbox = document.querySelector('#delete_error')
    let textadd = document.querySelector('#add_error')

    axios.post("/view_group/delete/"+ group_id +"/"+ userid +"/")
    .then(function (response) {
      let tbody = document.querySelector('#t-body')
      tbody.innerText = ''
      textbox.innerText = ''
      textadd.innerText = ''
      num = 1
      initialize ()
    })
    .catch(function (error) {
      console.log(error.response.data.error);
      textbox.innerText = error.response.data.error
    })
    .then(function () {
      // always executed
    });
  }
        
  function createMember(student,num, name, surname, major){
      let tr = document.createElement('tr')
      let td = document.createElement('td')
      if (creater_user == student.user.id){
        td.innerHTML = num+ " <b class='text-success'>(หัวหน้ากลุ่ม)</b>"
      }
      else{
        td.innerText = num
      }
      tr.appendChild(td)
      
      td = document.createElement('td')
      td.innerText = name
      tr.appendChild(td)

      td = document.createElement('td')
      td.innerText = surname
      tr.appendChild(td)

      td = document.createElement('td')
      td.innerText = major
      tr.appendChild(td)

      
      td = document.createElement('td')
      let a = document.createElement('a')
      a.innerHTML = '<i class="far fa-eye"></i>'
      a.className ='btn btn-outline-warning mr-2'
      a.href = '/profile/friend/'+student.id+'/'+ student.user.id +'/'
      td.appendChild(a)
      if(creater_user == current_user && current_user != student.user.id){
        let button = document.createElement('button')
        button.className ='btn btn-outline-danger'
        button.innerHTML = '<i class="far fa-trash-alt">'
        button.setAttribute("student_id", student.id)
        button.type = 'button'
        button.addEventListener("click", deleteMember)
        td.appendChild(button)
      }
      

      
      tr.appendChild(td)
      
      return tr
      
  }

  

</script>

</body>
{% endblock %}